 <h2>Add a New Pet to the Store</h2>
  <br>
  <form ng-submit="createCtrl.addAPet()" ng-controller="CreateCtrl as createCtrl">
      Enter the pet info, and press 'Submit'.
      <div class="row">
        <label class="col-md-6">Pet Name:</label>
        <input class="col-md-6" type="text" ng-model="createCtrl.pet.name" name="name" required/>
      </div>
      <div class="row">
      <label class="col-md-6">Category Id:</label>
      <select class="col-md-6" ng-model="createCtrl.pet.categoryId" name="categoryId">
        <option ng-repeat="category in createCtrl.categories" value="{{category.id}}">{{category.name}}</option>
      </select>
      </div>
      <div class="row">
        <label class="col-md-6">Pet Types:</label>
        <div class="col-md-6">
          <label ng-repeat="inputTag in createCtrl.tags">
            <input type="checkbox" checklist-model="createCtrl.pet.tags" checklist-value="inputTag"> {{inputTag.name}}
          </label>
        </div>
      </div>
      <div class="row">
        <label class="col-md-6">Status:</label>
        <div class="col-md-6">
          <select ng-model="createCtrl.pet.status" name="status" required>
            <option>Available</option>
            <option>Pending</option>
            <option>Sold</option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-md-6">Photo URLs:</label>
        <tags-input class="col-md-6" ng-model="createCtrl.pet.photoUrls"></tags-input>
      </div>
      <input type="submit" id="create" value="Create"/>
      <div class="row panel-danger" ng-show="feedbackMessage!=null && feedbackMessage.length>0">
        <div class="alert col-md-6" style="background-color:white;color:#3c763d" role="alert">
          {{feedbackMessage}}
        </div>
      </div>
  </form>
